body{
    background-color: black;
    margin-top: 0;
    font-family:  TwitterChirp, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    font-size: 20px;

}
h1{
    color: white;
    margin-top: 10px;
    padding-left: 10px;
    font-family:  -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    font-size: 20px;
    cursor: pointer;
}
.homepage{
    display: flex;
    flex-direction: row;
    height: 100%;
    margin-top: 0;
    margin-left: 100px;
    }

.nav{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    padding-right: 100px;
    border-right: 1.5px solid gray;
    width: 200px;
    height: 1000px;
}

.main{
    margin-top: 0;
    display: flex;
    flex-direction: column;
    width: 670px;
    margin-left: 0;
    margin-right: 0;
}
.nav-bar{
    position: fixed;
}

.discover-side{
    margin-top: 5px;
    margin-left: 0;
    display: flex;
    flex-direction: column;
    border-left: 1.5px solid gray;
    padding-right: 100px;

}

.search-bar{
    display: flex;
    padding-left: 35px;
    position: sticky;
    z-index: 1000000;
    top: 0;
    background-color: black;

}
.home{
    display: flex;
    position: sticky;
    flex-direction: row;
    align-self: center;
    height: 50px;
    justify-content: space-between;
    width: 670px;
    margin-left: 0;
    margin-right: 0;
    top: 0;
    z-index: 1022222;
    backdrop-filter: blur(5px);
    
}

.logo{
    align-self: flex-start;
    color: white;
    background-color: black;
    cursor: pointer;
    border: none;
    
}

.logo:hover{
    background-color: rgb(231, 233, 234, 0.1);
    border: none;
    opacity: 1;
    border-radius: 50%;
    height: 40px;
    transition-duration: 0.2s;
}


.meteor{ 
    cursor: pointer;
    border: none;
    padding-right: 10px;
    color: white;
    align-self: center;
}

.meteor:hover{
    background-color: rgb(231, 233, 234, 0.1);
    border: none;
    opacity: 1;
    border-radius: 50%; 
    height: 10px;
} 
 
ul{
    padding-left: 5px;
    height: 50px;
}

li{
    color: white;
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
    cursor: pointer;
}

.header-li:hover{
    background-color: rgb(231, 233, 234, 0.1);
     border-radius: 15px; 
     transition-duration: 0.2;
}

.nav-p{
    align-self: flex-start;
}

.elips{
    border-radius: 50%;
    border: 1px solid white;
    padding: 2px;
}

.tweet-btn:hover{
    background-color: rgb(26, 140, 216);
    transition-duration: 0.2s;
}

.tweet-btn{
    background-color: rgb(29, 155, 240);
    color: white;
    border-radius: 15px;
    width: 200px;
    height: 45px;
    border: none;
    margin-top: 10px;
    cursor: pointer;
}

.tweet-p{
    color: white;
    margin-bottom: 20px;
}

.tweet-p-button:hover{
    background-color: rgb(26, 140, 216);
    box-shadow: rgb(0 0 0 / 8%) 0px 8px 28px;;
}

.profile{
    margin-top: 25px;
    font-size: small;
    font-family: Verdana, Geneva, Tahoma, sans-serifTwitterChirp, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;;
}

.profile:hover{ 
    background-color: rgb(231, 233, 234, 0.1);
    border-radius: 15px; 
    transition-duration: 0.2;
}

.profile-btn{
    background-color: green;
    border: none;
    border-radius: 34px;
    height: 40px;
    width: 40px;
    color: white;
    font-family: TwitterChirp, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

.searchbar{
    background-color: rgb(32, 35, 39);;
    color: rgb(231, 233, 234);
    outline-style: none;
    border: none;
    border-radius: 30px;
    padding-left: 15px;
    height: 40px;
    width: 330px;
    cursor: text;
    margin-left: 0;
    
}

.twit {
    display: flex;
    z-index: -1;
    flex-direction: column;
    box-sizing: border-box; 
    height: 108px;
    background-color: aqua;
    width: 670px;
}

.discover{
    display: flex;  
    flex-direction: column;
    margin-top: 20px;
    background-color: rgb(22, 24, 28);
    border-radius: 15px;
    margin-left: 34px;
    width: 348px;
    position: fixed;
}

.discover-content-box{
    display: flex;
    flex-direction: row;
    gap: 15px;
    width: 348px;
}

.discover-content-box:hover{
    transition-duration: 0.2s;
    background-color: rgb(231, 233, 234, 0.1);
    cursor: pointer;
}

.discover-content-info{
    display: flex;
    flex-direction: column;
}


.discover-content-info:hover{
    transition-duration: 0.2s;
    background-color: rgb(231, 233, 234, 0.1);
    cursor: pointer;

}

.discover-content-img{
    width: 68px;
    height: 68px;

}

.Shaina{
    width: 68px;
    height: 68px;
    border-radius: 10px;
    margin-top: 10px;
}

h2{
    font-size: 20px;
    color: white;
    font-weight: bold;
    padding-left: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serifTwitterChirp, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;;;
}

h3{
    color: #71767B;
    font-family: Verdana, Geneva, Tahoma, sans-serifTwitterChirp, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;;;
    font-size: 10px;
    font-weight: bold;
    padding-left: 10px;
}

.discover-content-p{
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serifTwitterChirp, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;;
    font-size: 13px;
    padding-left: 10px;
}

.discover-content-p-kyiv{
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serifTwitterChirp, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;;
    font-size: 15px;
    padding-left: 10px;
    letter-spacing: 0.50px;
    width: 211px;

}

.show{
    color: #1D9BF0;
    font-family: Verdana, Geneva, Tahoma, sans-serifTwitterChirp, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;;
    font-size: 13px;
    padding-left: 10px;
    
}

.trending{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 3px;
}

.trending-a{
    font-family: Verdana, Geneva, Tahoma, sans-serifTwitterChirp, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;;
    font-size: 10px;
    color: #1D9BF0;
    cursor: pointer;
    font-weight: bold;

}
.trending-a:hover{
    cursor: pointer;
    text-decoration: underline;
}

.who{
    display: flex;  
    flex-direction: column;
    margin-top: 30px;
    background-color: rgb(22, 24, 28);
    border-radius: 15px;
    margin-left: 34px;
    width: 348px;
}

.who-content-box{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 348px;
    height: 92px;

}

.who-content-box:hover{
    transition-duration: 0.2s;
    background-color: rgb(231, 233, 234, 0.1);
    cursor: pointer;

}

.who-content-img{
    width: 48px;
    height: 48px;
}

.Elon{
    width: 48px;
    height: 48px;
    padding-left: 10px;
    padding-bottom: 10px;
    border-radius: 50%;
}

.who-content-info{
    display: flex;
    flex-direction: column;
    gap: 0;
}

.who-content-p{
    color: #E7E9EA;
    font-family: Verdana, Geneva, Tahoma, sans-serifTwitterChirp, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;;
    font-size: 17px;
    padding-left: 25px;
    font-weight: bold;
    margin: 0;

}

.who-content-p-alex{
    color: #E7E9EA;
    font-family: Verdana, Geneva, Tahoma, sans-serifTwitterChirp, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;;
    font-size: 15px;
    padding-left: 25px;
    letter-spacing: 0.10px;
    font-weight: bold;
    width: 100px;



}

.who-content-h3{
    color: #71767B;
    font-family: Verdana, Geneva, Tahoma, sans-serifTwitterChirp, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;;;
    font-size: 10px;
    font-weight: bold;
    margin: 0;
    padding-left: 25px;

}

.who-content-button{
    align-self: center;
    margin-bottom: 10px;
    margin-left: 65px;
}

.who-content-btn{
    width: 77px;
    height: 32px;
    border-radius: 25px;
    border: none;
    background-color: #EFF3F4;
    color: #0F1419;
}

.who-content-btn:hover{
    background-color: rgb(215, 219, 220);
    transition-duration: 0.2s;
}

.footer{
    display: flex;
    flex-direction: row;
    gap: 15px;
    margin-left: 34px;
}

.footer-p{
    font-family: Verdana, Geneva, Tahoma, sans-serifTwitterChirp, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    font-size: 11px;
    font-weight: bold;
    color: #71767B;
    cursor: pointer;
}

.footer-p:hover{
    text-decoration: underline;
    cursor: pointer;
}